body {
    margin: 0 auto;
    background: grey;
}
h1 {
    display: flex;
    text-align: center;
    color: black;
}
h2 {
    text-align: center;

}
label {

}
input {

}
button {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    color: white;
    background: rgb(0, 162, 255);
    padding: 0;
    border-radius: 7px;
    border: 3px solid black;
    height: 50px;
    width: 100px;
}
button:hover {

}
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.square {
    background-color: grey;
    border: 1px black solid; 
}
.hover {
    background-color: red;
}
#container {
    display: grid;
    margin: auto;
    width: 960px;
    height: 960px;
    border: 2px solid black;
}